# -------------------------------------------------------------------
# Dotfiles
# -------------------------------------------------------------------
alias zshconfig="vim ~/.zshrc"
alias vimconfig="vim ~/.vimrc"
alias aliasconfig="vim ~/.aliases"
alias ohmyzsh="vim ~/.oh-my-zsh"



# -------------------------------------------------------------------
# Git
# -------------------------------------------------------------------
alias ga='git add'
alias gp='git push'
alias gl='git log'
alias gs='git status'
alias gd='git diff'
alias gm='git commit -m'
alias gma='git commit -am'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'
alias gta='git tag -a -m'
alias gf='git reflog'
alias gclean="git clean -xfd"

# -------------------------------------------------------------------
# MyIP
# -------------------------------------------------------------------
alias myip="curl http://ipecho.net/plain; echo"

# -------------------------------------------------------------------
# Other stuff
# -------------------------------------------------------------------
alias gh='history|grep'
alias ls='ls --color=auto'
alias ll='ls -alF'
